@use "sass:math";

// Библиотеки

// Библиотеки
// CSS и SCSS библиотеки подключаются отдельной задачей gulp
// Slick
// Aos
// Slick-theme

// Настройки
@use "_config/variables";
@use "_config/fonts";

// Миксины
@use "_mixins/reset";
@use "_mixins/media";
@use "_mixins/container";
@use "_mixins/flex";
@use "_mixins/decore";
@use "_mixins/px-to-rem";

// Подключение блоков
@use "block/header";
@use 'block/mobile-modal';
@use 'block/mobile-nav.scss';
@use 'block/lang-tool';
@use 'block/font-change';
@use 'block/nav';
@use 'block/theme';
@use 'block/burger-btn';
@use 'block/btn';
@use 'block/intro';
@use 'block/social';
@use 'block/works';
@use 'block/work';
@use 'block/portfolio';
@use 'block/about';
@use 'block/modal-list';
@use 'block/modal';
@use 'block/timeline';
@use 'block/progress-bar';
@use 'block/contact';
@use 'block/sertificate-modal';
@use 'block/modal-work';
@use 'block/slider';
@use 'block/slick';
@use 'block/preloader-page';
@use 'block/footer';
@use 'block/footer-copyright';
@use 'block/close-modal-mobile';
@use 'block/show-more';



// Helpers
@use "helpers/helpers";

// Основные стили

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  font-size: 15px;
  scroll-behavior: smooth !important;
  transition: color 1s ease-in, background-color 1s ease-in;
}

html,
body {
  @include reset.reset-model;
  min-height: 100vh;
  font-size: variables.$font-size-base;
  font-family: variables.$font-family-base;
  text-rendering: optimizeSpeed;
  // scroll-behavior: smooth !important;
  font-size: 1rem;
  color: variables.$black;
  // background-color: orange;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

*::selection {
  background-color: variables.$select-color-dark;
  color: variables.$black;
}

// Сброс списка, ссылок и кнопки
ul {
  @include reset.reset-list();
}

a {
  @include reset.reset-link();
}

button {
  @include reset.reset-button();
}

// Визуальное скрытие элементов
.vhidden {
  transition: all .3s ease-in;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Изображения
img {
  max-width: 100%;
  display: block;
  height: auto;
}

// Ограничение для макета
.wrapper {
  @include container.wrapper;
}

// Контентная область
.container {
  @include container.container;
}


