@use "sass:math";

// Библиотеки

// Slick
// @import '_libs/slick-theme';
@import '_libs/slick';
// AOS - Animate On Scroll
@import '_libs/aos';
// Настройки
@import '_config/variables';
@import '_config/fonts';

// Миксины
@import '_mixins/reset';
@import '_mixins/media';
@import '_mixins/container';
@import '_mixins/flex';
@import '_mixins/decore';
@import '_mixins/px-to-rem';

// Основные стили

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  font-size: 15px;
  scroll-behavior: smooth !important;
}

html,
body {
  @include reset-model;
  min-height: 100vh;
  // overflow-x: hidden;
  font-size: $font-size-base;
  font-family: $font-family-base;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth !important;
  font-size: 1rem;
  color: $black;
  // background-color: orange;
}



// Сброс списка, ссылок и кнопки
ul {
  @include reset-list();
}

a {
  @include reset-link();
}

button {
  @include reset-button();
}

// Визуальное скрытие элементов
.vhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// Изображения
img {
  max-width: 100%;
  display: block;
  height: auto;
}

// Ограничение для макета
.wrapper {
  @include wrapper;
}

// Контентная область
.container {
  @include container;
}

// Подключение блоков
@import 'block/*.scss';

// Helpers
@import 'helpers/helpers';
