@import '../_mixins/font-face';

// Подключение шрифтов
@include font-face('Montserrat', '../font/Montserrat-Bold', 700);

@include font-face('Montserrat', '../font/Montserrat-Regular', 400);

@include font-face('Montserrat', '../font/Montserrat-Light', 300);

// Миксины для шрифтов
@mixin font-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin font-montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin font-montserrat-light {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: normal;
}
