// Ограничение макета
$wrapper-max: 1440px !default;
$wrapper-min: 280px !default;

// Контейнер
$container-max-widths: 1170px;
$container-padding: 15px;

// Контрольные точки
$breakpoints: (
  mobile-l: 0,
  mobile-md: 450px,
  mobile-sm: 576px,
  mobile: 768px,
  mobile-up: 769px,
  ipad-air: 820px,
  tablet: 992px,
  tablet-landscape: 1180px,
  notebook: 1200px,
  desktop: 1400px,
) !default;

// Шрифт
$font-family-base: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.75;
$font-weight-base: 400;
$font-style-base: normal;

// Цвета
$color-bg-base: #fff;
$color-bg-second: #f7f7f7;
$color-bg-third: #f5f5f5;
$color-bg-fouth: #fdfbf6;
$color-text-base: #61594d;
// Colors

$white: #fff;
$grey-theme: #7e7676;
$black: #2B2B2D;
$grey: #6a6969;
$grey-light: #8d8d8e;
$grey-ligth-third: #efefef;
$grey-light-second: #bbbbcc;
$color-wave: #77c7cb;
$grey-in-form: #707070;
$white: #fff;
$orange: orange;
$blue: blue;

// Select colors

// === light ===

$select-color-light: steelblue;

// === dark ===
$select-color-dark: #edb040;

// ====== modal__list ======

// ======= light ========
$modal-list-marker-color: steelblue;
$modal-list-link: steelblue;

// ======= dark ========
$modal-list-marker-color-dark: #edb040;
$modal-list-link-dark: #edb040;

// === description-show / description-hide ===

// === light ===

$desc-show-color: steelblue;

// === dark ===
$desc-show-color-dark: #edb040;

// ==== arrow-up hover timeline, modal-work =====

// Light
// arrow-up static
$arrow-up-color-light: steelblue;
// Dark
// arrow-up static
$arrow-up-color: #edb040;

// Dark
// arrow-up hover
$arrow-up-color-hover: burlywood;

// Light
// arrow-up hover
$arrow-up-color-light-hover: #4697B2;
// modal-work__btn  Colors
// static
$btn-color: floralwhite;
$color-btn-dark: #edb040;
$color-btn-light: steelblue;
// hover
$btn-color-hover: floralwhite; /*dark-dtn*/

$hover-btn-dark: bisque;
$hover-btn-light: aliceblue;

// ==== theme modal === resume & hire-me
$theme-modal-light: steelblue;
$theme-modal-dark: #edb040;



