// Ограничение макета
$wrapper-max: 1440px !default;
$wrapper-min: 280px !default;

// Контейнер
$container-max-widths: 1170px;
$container-padding: 15px;

// Контрольные точки
$breakpoints: (
  mobile-l: 0,
  mobile-md: 450px,
  mobile-sm: 576px,
  mobile: 768px,
  ipad-air: 820px,
  tablet: 992px,
  tablet-landscape: 1180px,
  notebook: 1200px,
  desktop: 1400px,
) !default;

// Шрифт
$font-family-base: 'Montserrat', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.75;
$font-weight-base: 400;
$font-style-base: normal;

// Цвета
$color-bg-base: #fff;
$color-bg-second: #f7f7f7;
$color-bg-third: #f5f5f5;
$color-bg-fouth: #fdfbf6;
$color-text-base: #61594d;
// Colors

$white: #fff;

$black: #2b2a2c;
$grey: #6a6969;
$grey-light: #8d8d8e;
$grey-ligth-third: #efefef;
$grey-light-second: #bbbbcc;
$color-wave: #77c7cb;
$grey-in-form: #707070;
$white: #fff;
$orange: orange;
$blue: blue;
