.about {
  margin-top: -5px;
  padding: 0 0 5rem;
  padding-top: 5rem;
  transition: background-color .3s ease-in;
  &--light {
    background-color: $white;
  }
  &--dark {
    background-color: $black;
  }
  @include bp-desk(notebook) {
    padding: 0;
    padding-bottom: 3rem;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1090px;
    align-items: center;
    @include bp-desk(tablet) {
      flex-direction: column;
    }
  }
  &__image-box,
  &__content {
    max-width: 50%;
  }
  &__content {
    padding-left: 3.2rem;
    margin-top: 2rem;
    @include bp-desk(tablet) {
      padding-left: 0;
      align-self: center;
      max-width: 80%;
    }
    @include bp-desk(mobile) {
      max-width: 100%;
    }
  }
  &__title {
    font-size: 3rem;

    font-weight: 700;
    text-transform: uppercase;
    transition: color .3s ease-in;
    &--light {
      color: $black;
    }
    &--dark {
      color: $white;
    }
    @include bp-desk(tablet) {
      font-size: 2rem;
    }
  }
  &__bigtitle {
    position: relative;
    left: -10px;
    margin-bottom: 1.4rem;
    @include font(6.1rem, 6.71rem);
    font-weight: 700;
    text-transform: uppercase;
    transition: color .3s ease-in;
    &--light {
      // opacity 35%
      color: transparentize($black, .65);
    }
    &--dark {
      color: transparentize($white, 0.65);
    }
    @include bp-desk(tablet) {
      @include font(4rem, 4.71rem);
    }
  }
  &__text {
    margin-bottom: 2.8rem;
    @include font(1rem, 1.8rem);
    font-weight: 300;
    transition: color .3s ease-in;
    &--light {
      color: $grey;
    }
    &--dark {
      color: $white;
    }
  }
  &__text-part + &__text-part {
    margin-top: 1rem;
  }
  &__image-box {
    padding-bottom: 33.4%;
    width: 100%;
    position: relative;
    margin-top: 109px;
    &--light {
      background: url('../img/preload/white-theme-loader.gif') center no-repeat;
    }
    &--dark {
      background: url('../../img/preload/dark-theme-loader.gif') center no-repeat;
    }
    @include bp-desk(tablet) {
      padding-bottom: 66.6%;
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 2.5em;
    }
    @include bp-desk(mobile) {
      max-width: 100%;
      align-self: center;
      margin-bottom: 1rem;
    }
  }
  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 20px;
  }
  &__btn {
    @include bp-desk(mobile-md) {
      display: block;
      width: 100%;
    }
  }
  &__btn + &__btn {
    @include bp-desk(mobile-md) {
      margin-top: 1rem;
    }
  }
  &__link {
    color: $orange;
    &:hover {
      text-decoration: underline;
    }
  }
}
