@use '../_config/variables';
@use '../_mixins/media';

.about {
  margin-top: -5px;
  padding: 0 0 75px;
  padding-top: 75px;
  transition: background-color 0.3s ease-in;
  &--light {
    background-color: variables.$white;
  }
  &--dark {
    background-color: variables.$black;
  }
  @include media.bp-desk(notebook) {
    padding: 0;
    padding-bottom: 45px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1090px;
    align-items: center;
    @include media.bp-desk(tablet) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__image-box,
  &__content {
    max-width: 50%;
  }
  &__content {
    padding-left: 48px;
    margin-top: 30px;
    @include media.bp-desk(tablet) {
      padding-left: 0;
      align-self: center;
      max-width: 80%;
    }
    @include media.bp-desk(mobile) {
      max-width: 100%;
    }
  }
  &__title {
    font-size: 3rem;

    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$black;
    }
    &--dark {
      color: variables.$white;
    }
    @include media.bp-desk(tablet) {
      font-size: 2rem;
    }
  }
  &__bigtitle {
    position: relative;
    left: -10px;
    margin-bottom: 21px;
    font-size: 6.1rem;
    line-height: 100.65px;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s ease-in;
    opacity: 35%;
    &--light {
      // opacity 35%
      color: variables.$black;
    }
    &--dark {
      color: variables.$white;
    }
    @include media.bp-desk(tablet) {
      font-size: 4rem;
      line-height: 70.65px;
    }
  }
  &__text {
    margin-bottom: 42px;
    font-size: 1rem;
    line-height: 27px;
    font-weight: 300;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$grey;
    }
    &--dark {
      color: variables.$white;
    }
  }
  &__text-part + &__text-part {
    margin-top: 15px;
  }
  &__text-part {
    font-weight: 400;
    margin-bottom: 15px;
  }
  &__image-box {
    width: 100%;
    position: relative;
    &--light {
      background: url("../img/preload/white-theme-loader.gif") center no-repeat;
    }
    &--dark {
      background: url("../../img/preload/dark-theme-loader.gif") center no-repeat;
    }
    @include media.bp-desk(tablet) {
      max-width: 100%;
      width: 77%;
      margin-bottom: 37.5px;
    }
    @include media.bp-desk(mobile) {
      max-width: 100%;
      width: 100%;
      align-self: center;
      margin-bottom: 15px;
    }
    &--overlay {
      position: relative;
      z-index:2;
      &-light {
        background-color: variables.$white;
      }
      &-dark {
        background-color: variables.$black;
      }
    }
  }
  &__image {
    border-radius: 20px;
    @include media.bp-desk(tablet) {
      width: 100%;
    }
  }
  &__btn + &__btn {
    margin-left: 15px;
  }
  &__btn {
    @include media.bp-desk(mobile-md) {
      & + & {
        margin-left: 0;
      }
      width: 100%;
    }
  }
  &__btn + &__btn {
    @include media.bp-desk(mobile-md) {
      margin-top: 15px;
    }
  }
  &__link {
    cursor: pointer;
    color: variables.$orange;
    transition: color 0.2s ease-in;
    position: relative;
    &:hover {
      color: variables.$grey;
    }
    @include media.bp-desk(mobile) {
      &:hover {
        color: variables.$orange;
      }
    }
    &--popup {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border-radius: 10px;
      position: absolute;
      width: 93px;
      height: 35px;
      left: 0;
      top: -40px;
      &::before {
        content: "";
        position: absolute;
        left: 15px;
        bottom: -9px;
        width: 0;
        height: 0;
        border: 5px solid variables.$white;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
      }
      &-light {
        background-color: variables.$black;
        &::before {
          border-top-color: variables.$black;
        }
      }
      &-dark {
        background-color: variables.$white;
        &::before {
          border-top-color: variables.$white;
        }
      }
      .social {
        &--github {
          &-light {
            fill: variables.$white;
          }
        }
        &--github {
          &-dark {
            fill: variables.$black;
          }
        }
      }
    }
  }
  &__social-image {
    width: 20px;
    height: 20px;
    transform: translateY(0);
    transition: transform 0.4s ease-in, fill 0.4s ease-in;
    &:hover {
      transform: translateY(-4.5px);
      opacity: 0.8;
    }
  }
  &__social-link {
    width: 20px;
    height: 20px;
    &:hover {
      text-decoration: none;
    }
  }
}
