@use '../_config/variables';
@use '../_mixins/media';
@use 'sass:color';

.btn {
  min-width: 170px;
  outline: none;
  display: inline-block;
  vertical-align: top;

  font-family: "Montserrat";
  text-transform: uppercase;

  line-height: 1.1;

  font-size: 1.06rem;
  text-decoration: none;
  cursor: pointer;

  background-color: transparent;
  border-radius: 28.62px;
  padding: 15.9px 27.03px;
  text-align: center;
  transition: background-color 0.2s linear, border-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, box-shadow 0.2s linear;
  &--dark {
    color: variables.$white;
    border: 2px solid variables.$white;
    box-shadow: 0 0 10px variables.$select-color-dark;
    &:hover {
      background-color: variables.$select-color-dark;
      color: variables.$black;
      box-shadow: 0 0 15px variables.$select-color-dark;
      border-color: variables.$select-color-dark;
    }
  }
  &--light {
    color: variables.$black;
    border: 2px solid variables.$grey;
    box-shadow: 0 0 10px variables.$select-color-light;
    &:hover {
      background-color: variables.$select-color-light;
      color: variables.$white;
      // transparentize .76 - opacity 24%
      box-shadow: 0 0 15px variables.$select-color-light;
      border-color: variables.$select-color-light;
    }
  }
  &:focus {
    outline: none;
  }
  &--sm {
    padding: 11.14px 17.49px;
    font-size: 0.94rem;
    font-weight: 700;
    border-width: 2px;
    min-width: 0;
  }
  &--thin {
    min-width: 145px;
    font-size: 0.8rem;
  }
  &__resume {
    @include media.bp-desk(mobile-sm) {
      min-width: 145px;
      font-size: 0.8rem;
    }
    @include media.bp-desk(mobile-md) {
      display: block;
    }
  }
  &__resume + &__resume {
    margin-left: 9px;
    @include media.bp-desk(mobile-md) {
      margin-top: 15px;
      margin-left: 0;
    }
  }
  &__print {
    margin-right: -50px;
    @include media.bp-desk(notebook) {
      display: none !important;
    }
  }
}
