@use '../_mixins/media';
@use '../_config/variables';

.burger-btn {
  align-items: center;
  position: relative;
  z-index: 1100;
  cursor: pointer;
  width: 25px;
  height: 19px;
  display: none;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  @include media.bp-desk(notebook) {
    display: flex;
  }
  &__line {
    height: 2px;
    width: 100%;
    position: relative;
    transition: height 0.3s ease-in, background-color 0.3s ease-in;
    &::before {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      height: 2px;
      width: 100%;
      transition: top 0.3s ease-in, transform 0.3s ease-in, background-color 0.3s ease-in;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -7px;
      left: 0;
      height: 2px;
      width: 100%;
      transition: bottom 0.3s ease-in, transform 0.3s ease-in, background-color 0.3s ease-in;
    }

    &--light {
      background-color: variables.$black;
      &::before {
        background-color: variables.$black;
      }
      &::after {
        background-color: variables.$black;
      }
    }
    &--dark {
      background-color: variables.$white;
      &::before {
        background-color: variables.$white;
      }
      &::after {
        background-color: variables.$white;
      }
    }
  }
  &__line.active {
    height: 0;
    // width: 0;
    background-color: transparent;
  }
  &__line.active::before {
    top: 0;
    transform: rotate(-45deg);
  }
  &__line.active::after {
    bottom: -3px;
    transform: rotate(45deg);
  }
}
