.contact {
  &__left {
    padding: 2rem;
    max-width: 607px;
    width: 100%;
    @include bp-desk(mobile) {
      padding: 1rem;
    }
  }
  // &__right {
    // padding: 2rem;
    // background: url('https://via.placeholder.com/477x700') right center no-repeat;
    // height: 700px;
    // width: 477px;
    // @include bp-desk(tablet) {
    //   display: none;
    // }
  // }
  &__info {
    margin: 2rem 0 3rem;
    padding: 0;
    list-style: none;
    font-size: 0.94rem;
    color: $black;
    font-weight: 300;
  }

  &__info-link {
    color: $black;
    transition: color 0.3s ease-in;
    &:hover {
      color: $color-wave;
    }
  }

  &__info-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__info-icon {
    margin-right: 0.75rem;
  }
}
