.contact {
  &__left {
    padding: 30px;
    max-width: 607px;
    width: 100%;
    @include bp-desk(mobile) {
      padding: 15px;
    }
  }

  &__info {
    margin: 30px 0 45px;
    padding: 0;
    list-style: none;
    font-size: 0.94rem;
    color: $black;
    font-weight: 300;
    transition: color .3s ease-in;
    &--light {
      color: black;
    }
    &--dark {
      color: $white;
    }
  }

  &__info-link {
    transition: color 0.3s ease-in;
    transition: color .3s ease-in;
    &--light {
      color: $black;
    }
    &--dark {
      color: $white;
    }
    &:hover {
      color: $color-wave;
    }
  }

  &__info-item {
    margin-bottom: 11.25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__info-icon {
    margin-bottom: -2px;
    margin-right: 11.25px;
    transition: fill .3s ease-in;
    &--light {
      fill: black;
    }
    &--dark {
      fill: $white;
    }
  }
}
