.font-change {
  position: relative;
  &__icon {
    cursor: pointer;
    width: 17px;
    height: 27px;
    &--light {
      fill: $black;
    }
    &--dark {
      fill: $white;
    }
  }
  &__text {
    font-size: 9px;
    text-transform: uppercase;
    color: $white;
  }
  &__popup {
    width: 115px;
    position: absolute;
    text-align: center;
    right: -125px;
    top: -15px;
    border-radius: 10px 10px 10px 0;
    background-color: $black;
    transform: scale(0);
    opacity: 0;
    padding: 7px;
    transition: 0.3s ease-in transform, 0.3s ease-in opacity;
    &--light {
      border: 1px solid $black;
    }
    &--dark {
      border: 1px solid $white;
    }

    &--active {
      transform: scale(1);
      opacity: 1;
    }
    @include bp-desk(mobile) {
      display: none;
    }
  }
  &__progress-bar {
    position: absolute;
    bottom: -12px;
    left: 0;
    height: 0;
    transform: scale(0);
    opacity: 0;
    &--active {
      height: auto;
      transform: scale(1);
      opacity: 1;
    }
  }
  &__progress-input {
    width: 70px;
    cursor: pointer;
    appearance: none;
    border-radius: 10px;
    background-color: $white;
    &::-webkit-slider-runnable-track {
      border-radius: 10px;
      height: 7px;
      border: 1px solid $white;
      background-color: $black;
    }
    &::-webkit-slider-thumb {
      background: $white;
      border: 1px solid $black;
      border-radius: 10px;
      width: 12px;
      height: 12px;
      -webkit-appearance: none;
      margin-top: -3px;
    }
    &::-moz-range-track {
      border-radius: 10px;
      height: 5px;
      border: 1px solid $white;
      background-color: $black;
    }
    &::-moz-range-thumb {
      background-color: $black;
      border: 1px solid $white;
      border-radius: 10px;
    }
  }
}
