@use '../_config/variables';
@use '../_mixins/media';
@use '../_mixins/decore';

.footer {
  padding: 30px 0;
  transition: background-color 0.3s ease-in;
  &--light {
    background-color: variables.$black;
  }
  &--dark {
    background-color: variables.$white;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include media.bp-desk(tablet) {
      justify-content: flex-start;
    }
  }
  &__copyright {
    margin-right: 15px;
    padding-right: 15px;
    font-size: 0.94rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in, border-right 0.3s ease-in;
    &--light {
      color: variables.$grey-light-second;
      // opacity 35 %
      border-right: 1px solid variables.$grey-light-second;
    }
    &--dark {
      color: variables.$black;
      // opacity 35 %
      border-right: 1px solid variables.$black;
    }
    @include media.bp-desk(mobile) {
      border-right: none;
      margin-right: 0;
      padding-right: 0;
      margin-bottom: 15px;
    }
    @include media.media-down(680px) {
      margin-bottom: 15px;
    }
    @include media.bp-desk(mobile-md) {
      line-height: 2;
    }
  }
  &__credits {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    @include media.bp-desk(mobile) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 21px;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    padding: 2px;
    border: 1px solid transparent;
  }
  &__social-image {
    width: 20px;
    height: 20px;
  }
  &__social-move-up {
    animation: move-up 3s ease-in;
  }
  // &__social-color-changed {
  //   animation: change-color 3s ease-in;
  // }
  &__social-link {
    margin-right: 18px;
  }
  &__nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 0.94rem;
    @include media.media-down(789px) {
      flex-direction: column;
      align-items: flex-start;
    }
    @include media.bp-desk(tablet) {
      justify-content: flex-start;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    @include media.media-down(789px) {
      margin-bottom: 50px;
    }
    @include media.media-down(500px) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
    }
  }
  &__nav-link {
    position: relative;

    transition: text-decoration 0.4s ease-in;
    &::after {
      @include decore.decore-line;
    }
    &--light {
      color: variables.$grey-light-second;
      &::after {
        @include decore.decore-line-footer;
      }
    }
    &--dark {
      color: variables.$black;
      &::after {
        background-color: variables.$black;
        height: 1px;
      }
    }
    &:hover:not(.footer__nav-btn) {
      &:after {
        width: 100%;
      }
    }
  }
  &__menu-item + &__menu-item {
    margin-left: 15.5px;
    @include media.media-down(500px) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
  &__nav-btn {
    text-align: center;
    line-height: 1.1;
    border-radius: 20px;
    font-family: variables.$font-family-base;
    font-size: 0.94rem;
    border: 1px solid variables.$grey-light;
    padding: 7.5px 21px;
    text-decoration: none;
    transition: background-color 0.4s ease-in, color 0.4s ease-in, border-color .4s ease-in;
    &--dark {
      &:hover {
        background-color: variables.$black;
        color: variables.$white;
        border-color: variables.$black;
      }
    }
    &--light {
      &:hover {
        background-color: variables.$grey-light-second;
        color: variables.$black;
        border-color: variables.$grey-light-second;
      }
    }
    @include media.media-down(390px) {
      padding: 15px 21px;
    }
  }
  &__nav-btn + &__nav-btn {
    margin-left: 10px;
    @include media.media-down(500px) {
      margin-left: 22.5px;
    }
    @include media.media-down(390px) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
  &__nav-btns {
    margin-left: 22.5px;
    @include media.media-down(789px) {
      margin-left: 0;
    }
    @include media.media-down(390px) {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  &__social-image {
    transform: translateY(0);
    transition: transform 0.4s ease-in, fill 0.4s ease-in;
    &:hover {
      transform: translateY(-4.5px);
    }
  }
  .social {
    &--github {
      &-light {
        fill: variables.$white;
      }
    }
    &--github {
      &-dark {
        fill: variables.$black;
      }
    }
  }
}


@keyframes move-up {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-2px);
  }
  40% {
    transform: translateY(-7px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}
