.form {
  &__group {
    margin-bottom: 1.8rem;
  }
  &__label {
    display: inline-block;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
    color: $black;
    font-weight: 700;
  }
  &__input,
  &__textarea {
    display: block;
    width: 100%;
    padding: 1.3rem 1.8rem;
    // opacity 30%
    border: 1px solid transparentize($grey-in-form, 0.7);
    border-radius: 1.8rem;

    font-family: inherit;
    font-size: 0.8rem;
    line-height: 1.2;

    font-weight: 400;
    color: $black;
    &::placeholder {
      color: $black;
      font-weight: 300;
    }
    &:focus {
      outline: none;
      border-color: $color-wave;
    }
  }
  &__textarea {
    height: 200px;
    resize: none;
    font-size: 1rem;
  }
}
