@use "../_config/variables";

.form {
  &__group {
    margin-bottom: 27px;
  }
  &__label {
    display: inline-block;
    margin-bottom: 9px;
    font-size: 0.8rem;
    color: variables.$black;
    font-weight: 700;
  }
  &__input,
  &__textarea {
    display: block;
    width: 100%;
    padding: 19.5px 27px;
    // opacity 30%
    border: 1px solid rgba(112, 112, 112, 0.3);
    border-radius: 27px;

    font-family: inherit;
    font-size: 0.8rem;
    line-height: 1.2;

    font-weight: 400;
    color: variables.$black;
    &::placeholder {
      color: variables.$black;
      font-weight: 300;
    }
    &:focus {
      outline: none;
      border-color: variables.$color-wave;
    }
  }
  &__textarea {
    height: 200px;
    resize: none;
    font-size: 1rem;
    margin-bottom: 75px;
  }
  &__personal-data {
    margin-bottom: 30px;
    font-size: 0.8rem;
  }
}
