.header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 1300;
  transition: background-color .3s ease-in;
  &--light {
    background: $white;
    box-shadow: 0 0 5px $black;
  }
  &--dark {
    background: $black;
    box-shadow: 0 0 5px $white;
  }
  @include media-down(1041px) {
    padding-top: 25px;
  }
  @include bp-desk(tablet) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  @include bp-desk(mobile) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &__mobile-modal {
    opacity: 0;
    transform: translateX(-2000px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: background-color .3s ease-in, transform 1s ease-in, opacity 1s ease-in;
    &--light {
      background-color: $white;
    }
    &--dark {
      background-color: $black;
    }
    &-active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__fixed-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    @include media-down(1041px) {
      display: none;
    }
  }

  &__user {
    position: absolute;
    left: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
