.header {
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  left: 0;
  width: 100%;
  background: $white;
  z-index: 1300;
  transition: background-color 0.3s ease-in;
  padding-right: calc(20px - (100vw - 100%));
  &--light {
    background: $white;
  }
  &--dark {
    background: $black;
  }
  @include media-down(1041px) {
    padding-top: 25px;
  }
  @include bp-desk(tablet) {
    padding-top: 22.5px;
    padding-bottom: 22.5px;
  }
  @include bp-desk(mobile) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &__mobile-modal {
    overflow: auto;
    opacity: 0;
    transform: translateX(-2000px);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1100;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    transition: background-color 0.3s ease-in, transform 1s ease-in, opacity 1s ease-in;
    &--light {
      background-color: $white;
    }
    &--dark {
      background-color: $black;
    }
    &-active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__inner {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__fixed-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    @include bp-desk(notebook) {
      display: none;
    }
  }

  &__lang {
    // margin-right: auto;
    margin-left: 30px;
    @include bp-desk(mobile) {
      margin-left: 0;
    }
  }
  &__font-change {
    margin-left: 20px;
    margin-right: auto;
  }
  &--box-shadow-dark {
    box-shadow: 0 0 5px $white;
  }
  &--box-shadow-light {
    box-shadow: 0 0 5px $black;
  }
}
