.intro {
  transition: background-color 0.3s ease-in;
  &--light {
    background-color: $white;
  }
  &--dark {
    background-color: $black;
  }
  &__inner {
    position: relative;
    background-size: contain;
    padding-top: 11rem;
    display: flex;
    justify-content: space-between;
    //border-bottom opacity 30%

    border-radius: 10px;
    transition: border-bottom 0.3s ease-in;
    &--light {
      border-bottom: 1px solid transparentize($grey, 0.7);
    }
    &--dark {
      border-bottom: 1px solid $white;
    }
    @include bp-desk(tablet) {
      flex-direction: column;
    }
    @include bp-desk(mobile) {
      padding-top: 8rem;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-size: 3rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    &--light {
      color: $black;
    }
    &--dark {
      color: $white;
    }
    @include bp-desk(mobile-sm) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: 2.13rem;
    font-weight: 300;
    transition: color 0.3s ease-in;
    &--light {
      color: $black;
    }
    &--dark {
      color: $white;
    }
    @include bp-desk(mobile-sm) {
      font-size: 1.7rem;
    }
  }

  &__position {
    margin-bottom: 25px;
    font-size: 1.2rem;
    opacity: 0.7;
    transition: color 0.3s ease-in;
    &--light {
      color: $black;
    }
    &--dark {
      color: $white;
    }
  }

  &__content {
    @include bp-desk(tablet) {
      margin-bottom: 3rem;
    }
  }

  &__social {
    display: flex;
    margin-bottom: 42px;
  }

  &__image-container {
    align-self: flex-end;
    @include bp-desk(tablet) {
      max-width: 370px;
      align-self: flex-end;
    }
  }
  .social {
    &--github {
      &-light {
        fill: $black;
      }
    }
    &--github {
      &-dark {
        fill: $white;
      }
    }
  }
}
