@use "../_config/variables";
@use "../_mixins/media";

.intro {
  transition: background-color 0.3s ease-in;
  &--light {
    background-color: variables.$white;
  }
  &--dark {
    background-color: variables.$black;
  }
  &__inner {
    position: relative;
    background-size: contain;
    padding-top: 165px;
    display: flex;
    justify-content: space-between;
    //border-bottom opacity 30%

    border-radius: 10px;
    transition: border-bottom 0.3s ease-in;
    &--light {
      border-bottom: 1px solid rgba(106, 105, 105, 0.3);
    }
    &--dark {
      border-bottom: 1px solid variables.$white;
    }
    @include media.bp-desk(tablet) {
      flex-direction: column;
    }
    @include media.bp-desk(mobile) {
      padding-top: 120px;
    }
  }

  &__title {
    margin-bottom: 25px;
    font-size: 3rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$black;
    }
    &--dark {
      color: variables.$white;
    }
    @include media.bp-desk(mobile-sm) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-size: 2.13rem;
    font-weight: 300;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$black;
    }
    &--dark {
      color: variables.$white;
    }
    @include media.bp-desk(mobile-sm) {
      font-size: 1.7rem;
    }
  }

  &__position {
    margin-bottom: 25px;
    font-size: 1.2rem;
    opacity: 0.7;
    transition: color 0.3s ease-in;
    & + & {
      margin-top: 0.1rem;
    }
    &--light {
      color: variables.$black;
    }
    &--dark {
      color: variables.$white;
    }
  }

  &__content {
    @include media.bp-desk(tablet) {
      margin-bottom: 45px;
    }
  }

  &__social {
    display: flex;
    margin-bottom: 42px;
  }

  &__image-container {
    align-self: flex-end;
    @include media.bp-desk(tablet) {
      max-width: 370px;
      align-self: flex-end;
    }
  }
  .social {
    &--github {
      &-light {
        fill: variables.$black;
      }
    }
    &--github {
      &-dark {
        fill: variables.$white;
      }
    }
  }
}
