.mobile-nav {
  &__link {
    position: relative;
    font-size: 0.93rem;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    transition: color .3s ease-in;
    &::after {
      @include decore-line;
    }

    &--light {
      color: $black;
      &::after {
        background-color: $black;
      }
    }
    &--dark {
      color: $white;
      &::after {
        background-color: $white;
      }
    }
    &:hover:not(.mobile-nav__link--btn) {
      &:after {
        width: 100%;
      }
    }
  }
  &__link + &__link {
    margin-top: 2rem;
  }
  &__link--btn + &__link--btn {
    margin-top: 1rem;
  }
}
