.mobile-modal {

  // .mobile-modal__nav

  &__nav {
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
