.modal-work {
  &__preview {
    position: relative;
    width: 65%;
    padding: 12px;
    overflow: hidden;
    @include bp-desk(tablet) {
      width: 50%;
    }
    @include bp-desk(mobile) {
      width: 100%;
      order: 2;
    }
  }

  &__content {
    position: relative;
    width: 35%;
    padding: 3.4rem 1.6rem 1rem 1.73rem;
    @include bp-desk(tablet) {
      width: 50%;
    }

    @include bp-desk(mobile) {
      padding: 3.4rem 0.7rem 1rem;
      width: 100%;
      order: 1;
    }
  }
  &__title {
    margin-bottom: 0.2rem;
    font-size: 2.12rem;

    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s ease-in;
    &--light {
      color: $black;
    }
    &--dark {
      color: $white;
    }
    @include bp-desk(mobile) {
      font-size: 1.32rem;
    }
  }
  &__info {
    font-size: 1.2rem;

    text-transform: uppercase;
    transition: color 0.3s ease-in;
    &--light {
      color: $grey;
    }
    &--dark {
      color: $white;
    }
    @include bp-desk(mobile) {
      font-size: 0.9rem;
    }
  }
  &__info-divider {
    margin: 0 1rem;
  }
  &__header {
    margin-bottom: 2.2rem;
  }
  &__client-title {
    margin-bottom: 0.2rem;
    font-size: 1.06rem;

    font-weight: 700;
    transition: color 0.3s ease-in;
    &--light {
      color: $black;
    }
    &--dark {
      color: $white;
    }
  }
  &__client-company {
    font-size: 0.94rem;
    font-style: italic;

    font-weight: 600;
    transition: color 0.3s ease-in;
    &--light {
      color: $grey;
    }
    &--dark {
      color: $white;
    }
  }
  &__list + * {
    margin-top: 1.5rem;
  }
  &__client {
    margin-bottom: 2.2rem;
  }
  &__text {
    margin-bottom: 8rem;
    @include font(1rem, 1.6rem);

    font-weight: 300;
    transition: color 0.3s ease-in;
    &--light {
      color: $grey;
    }
    &--dark {
      color: $white;
    }
    @include bp-desk(mobile) {
      margin-bottom: 5rem;
    }
  }
  &__footer {
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 1.8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include bp-desk(mobile) {
      display: none;
    }
  }
  &__arrow {
    width: 23px;
    display: inline-block;
  }
  &__arrow-up {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 112px;
    @include bp-desk(mobile) {
      bottom: 320px;
    }
    &:focus {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      outline: none;
    }
  }
  &__arrow-up-pic {
    width: 20px;
    height: 20px;
    margin-left: auto;
    &--light {
      fill: $arrow-up-color-light;
      transition: fill 0.3s ease-in;
      &:hover {
        fill: $arrow-up-color-light-hover;
      }
    }
    &--dark {
      fill: $arrow-up-color;
      transition: fill 0.3s ease-in;
      &:hover {
        fill: $arrow-up-color-hover;
      }
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    border: none;
    font-family: "Montserrat";
    font-weight: 600;
    cursor: pointer;
    font-size: 0.94rem;
    text-transform: uppercase;

    border-radius: 10px 0 10px 0;
    padding: 7px 9px;

    transition: background-color 0.3s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in;
    &--light {
      background-color: $color-btn-light;
      color: $btn-color;
      box-shadow: 0 0 10px $color-btn-light;
      &:hover {
        background-color: $hover-btn-light;
        color: $black;
        box-shadow: 0px 0px 10px $black;
      }
    }
    &--dark {
      background-color: $color-btn-dark;
      color: $btn-color;
      box-shadow: 0px 0px 10px $color-btn-dark;
      &:hover {
        background-color: $hover-btn-dark;
        color: $black;
        box-shadow: 0px 0px 10px $hover-btn-dark;
      }
    }
    &--prev {
      margin-right: 0.2rem;
    }
    &--next {
      margin-left: 0.2rem;
    }
    &--text {
      @include bp-desk(mobile) {
        font-size: 0;
      }
    }
  }
  &__description {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    transition: color 0.3s ease-in;
    &--dark {
      color: $desc-show-color-dark;
    }
    &--light {
      color: $desc-show-color;
    }
  }
  &__show-info {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  &--more {
    .modal-list__link {
      text-decoration: underline;
    }
  }
}
