@use "../_config/variables";
@use "../_mixins/media";
@use "../_mixins/font-face";

.modal-work {
  &__preview {
    position: relative;
    width: 65%;
    padding: 12px;
    overflow: hidden;
    @include media.bp-desk(tablet) {
      width: 50%;
    }
    @include media.bp-desk(mobile) {
      width: 100%;
      order: 2;
    }
  }

  &__content {
    position: relative;
    width: 35%;
    padding: 51px 24px 15px 25.95px;
    @include media.bp-desk(tablet) {
      width: 50%;
    }

    @include media.bp-desk(mobile) {
      padding: 51px 10.5px 15px;
      width: 100%;
      order: 1;
    }
  }
  &__title {
    margin-bottom: 3px;
    font-size: 2.12rem;

    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$select-color-light;
    }
    &--dark {
      color: variables.$select-color-dark;
    }
    @include media.bp-desk(mobile) {
      font-size: 1.32rem;
    }
  }
  &__info {
    font-size: 1.2rem;

    text-transform: uppercase;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$grey;
    }
    &--dark {
      color: variables.$white;
    }
    @include media.bp-desk(mobile) {
      font-size: 0.9rem;
    }
  }
  &__info-divider {
    margin: 0 15px;
  }
  &__header {
    margin-bottom: 33px;
  }
  &__client-title {
    margin-bottom: 3px;
    font-size: 1.06rem;

    font-weight: 700;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$black;
    }
    &--dark {
      color: variables.$white;
    }
  }
  &__client-company {
    font-size: 0.94rem;
    font-style: italic;

    font-weight: 600;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$grey;
    }
    &--dark {
      color: variables.$white;
    }
  }
  &__list + * {
    margin-top: 22.5px;
  }
  &__client {
    margin-bottom: 33px;
  }
  &__text {
    margin-bottom: 120px;
    @include font-face.font(1rem, 1.6rem);

    font-weight: 300;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$grey;
    }
    &--dark {
      color: variables.$white;
    }
    @include media.bp-desk(mobile) {
      margin-bottom: 75px;
    }
  }
  &__footer {
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 27px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media.bp-desk(mobile) {
      display: none;
    }
  }
  &__arrow {
    width: 23px;
    display: inline-block;
  }
  &__arrow-up {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 112px;
    @include media.bp-desk(mobile) {
      bottom: 320px;
    }
    &:focus {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      outline: none;
    }
  }
  &__arrow-up-pic {
    width: 20px;
    height: 20px;
    margin-left: auto;
    &--light {
      fill: variables.$arrow-up-color-light;
      transition: fill 0.3s ease-in;
      &:hover {
        fill: variables.$arrow-up-color-light-hover;
      }
    }
    &--dark {
      fill: variables.$arrow-up-color;
      transition: fill 0.3s ease-in;
      &:hover {
        fill: variables.$arrow-up-color-hover;
      }
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    border: none;
    font-family: "Montserrat";
    font-weight: 600;
    cursor: pointer;
    font-size: 0.94rem;
    text-transform: uppercase;

    border-radius: 10px 0 10px 0;
    padding: 7px 9px;

    transition: background-color 0.3s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in;
    &--light {
      background-color: variables.$color-btn-light;
      color: variables.$btn-color;
      box-shadow: 0 0 10px variables.$color-btn-light;
      &:hover {
        background-color: variables.$hover-btn-light;
        color: variables.$black;
        box-shadow: 0px 0px 10px variables.$black;
      }
    }
    &--dark {
      background-color: variables.$color-btn-dark;
      color: variables.$btn-color;
      box-shadow: 0px 0px 10px variables.$color-btn-dark;
      &:hover {
        background-color: variables.$hover-btn-dark;
        color: variables.$black;
        box-shadow: 0px 0px 10px variables.$hover-btn-dark;
      }
    }
    &--prev {
      margin-right: 3px;
    }
    &--next {
      margin-left: 3px;
    }
    &--text {
      @include media.bp-desk(mobile) {
        font-size: 0;
      }
    }
  }
  &__description {
    margin-top: 18px;
    margin-bottom: 18px;
    transition: color 0.3s ease-in;
    font-weight: 400;
    &--dark {
      color: variables.$desc-show-color-dark;
    }
    &--light {
      color: variables.$desc-show-color;
    }
  }
  &__show-info {
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  &--more {
    .modal-list__link {
      text-decoration: underline;
    }
  }
  &__list {
    margin-top: 37.5px;
    margin-bottom: 37.5px;
  }
}
