.modal-list {
  list-style: disc;
  padding-left: 30px;
  &__item {
    margin-bottom: 1rem;
    transition: color .3s ease-in;
    &--dark {
      color: $modal-list-link-dark;
    }
    &--light {
      color: $modal-list-link;
    }
    &::marker {
      font-size: 1rem;
      transition: color .3s ease-in;
    }
    &--light {
      &::marker {
        color: $modal-list-marker-color;
      }
    }
    &--dark {
      &::marker {
        color: $modal-list-marker-color-dark;
      }
    }
    &--more-info {
      font-weight: 700;
      &-dark {
        color: $white;
      }
      &-light {
        color: $important-info;
      }
    }
  }
  &__link {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &__this-link {
    margin-left: 1rem;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
