.modal-work {
  &__preview {
    position: relative;
    width: 65%;
    overflow: hidden;
    @include bp-desk(tablet) {
      width: 50%;
    }
    @include bp-desk(mobile) {
      width: 100%;
      height: 300px;
      order: 2;
    }
  }
  &__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 300px;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    // выравнивание фото по центру
  }
  &__content {
    position: relative;
    width: 35%;
    padding: 3.4rem 1.6rem 1rem 1.73rem;
    @include bp-desk(tablet) {
      width: 50%;
    }

    @include bp-desk(mobile) {
      padding: 3.4rem 0.7rem 1rem;
      width: 100%;
      order: 1;
    }
  }
  &__title {
    margin-bottom: 0.2rem;
    font-size: 2.12rem;
    color: $black;
    font-weight: 700;
    text-transform: uppercase;
    @include bp-desk(mobile) {
      font-size: 1.32rem;
    }
  }
  &__info {
    font-size: 1.2rem;
    color: $grey;
    text-transform: uppercase;
    @include bp-desk(mobile) {
      font-size: 0.9rem;
    }
  }
  &__info-divider {
    margin: 0 1rem;
  }
  &__header {
    margin-bottom: 2.2rem;
  }
  &__client-title {
    margin-bottom: 0.2rem;
    font-size: 1.06rem;
    color: $black;
    font-weight: 700;
  }
  &__client-company {
    font-size: 0.94rem;
    font-style: italic;
    color: $grey;
    font-weight: 600;
  }
  &__list + * {
    margin-top: 1.5rem;
  }
  &__client {
    margin-bottom: 2.2rem;
  }
  &__text {
    margin-bottom: 6rem;
    @include font(0.8rem, 1.6rem);
    color: $grey;
    font-weight: 300;
    @include bp-desk(mobile) {
      margin-bottom: 5rem;
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    padding: 0 1.8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include bp-desk(mobile) {
      display: none;
    }
  }
  &__arrow {
    width: 23px;
    display: inline-block;
  }
  &__arrow-up {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 112px;
    @include bp-desk(mobile) {
      bottom: 320px;
    }
    &:focus {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      outline: none;
    }
  }
  &__arrow-up-pic {
    margin-left: auto;
  }
  &__btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 0;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    font-size: 0.94rem;
    color: $black;
    text-transform: uppercase;
    &--prev {
      margin-right: 0.2rem;
    }
    &--next {
      margin-left: 0.2rem;
    }
    &--text {
      padding-bottom: 3px;
      @include bp-desk(mobile) {
        font-size: 0;
      }
    }
  }
  &__description {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }
}

.description-hide,
.description-show {
  color: $orange;
  text-decoration: dotted;
  cursor: pointer;
}
