.modal {
  padding: 2.5rem;
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(6, 15, 49, 0.9);

  &.show {
    display: flex;
  }
  &__dialog {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1200px;

    background-color: $white;
    transform: rotateX(90deg);
    transition: transform 0.2s linear;
    &--sm {
      max-width: 900px;
    }
  }
  &__close {
    position: absolute;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    width: 34px;
    height: 39px;
    top: 0.9rem;
    right: 1rem;
    z-index: 1;
    transition: transform 0.2s linear;
    &:hover {
      transform: translateY(-3px);
    }
  }
  &__content {
    padding: 5rem 1rem;
  }
  &__title {
    margin-bottom: 3.6rem;
    font-size: 3rem;
    text-transform: uppercase;
    color: $black;
    font-weight: 700;
    &--form {
      max-width: 40%;
      text-transform: none;
    }
  }
  &__subtitle {
    // text-transform: uppercase;
    font-size: 1.06rem;
    color: $black;
    font-weight: 400;
  }
  &__timeline {
    margin: 4.2rem auto;
  }
  &__progress-bar {
    margin-bottom: 2.6rem;
  }
  &__contact {
    display: flex;
  }
}
