.nav {
  &__link {
    position: relative;
    margin-right: 1.7rem;
    font-size: 0.93rem;

    text-transform: uppercase;
    font-weight: 700;
    transition: color .3s ease-in;
    &:after {
      @include decore-line;
    }
    &--light {
      color: $black;
      &::after {
        background-color: $black;
      }
    }
    &--dark {
      color: $white;
      &::after {
        background-color: $white;
      }
    }
    &:not(.nav__link--btn) {
      padding: 7px 0;
    }
    &:hover:not(.nav__link--btn) {
      &:after {
        width: 100%;
      }
    }
  }
}
