.nav {
  &__link {
    position: relative;
    margin-right: 1rem;
    font-size: 0.93rem;
    color: $black;
    text-transform: uppercase;
    font-weight: 700;
    &:not(.nav__link--btn) {
      padding: 7px;
    }
    &:after {
      @include decore-line;
    }
    &:hover:not(.nav__link--btn) {
      &:after {
        width: 100%;
      }
    }
  }
}
