@use "../_config/variables.scss";
@use "../_mixins/media.scss";

.popup-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  width: 130px;
  position: absolute;
  border-radius: 5px 5px 0 5px;

  left: -130px;
  top: -20px;
  &--light {
    background-color: variables.$black;
    color: variables.$white;
  }
  &--dark {
    background-color: variables.$white;
    color: variables.$black;
  }

  &__hidden {
    opacity: 0;
    height: 0;
    width: 0;
  }
  &--active {
    opacity: 1;
    height: auto;
    width: auto;
  }
  @include media.bp-desk(notebook) {
    display: none;
  }
}
