.portfolio {
  &__col {
    display: flex;
    flex-basis: 33.33333%;
    padding: 1rem;
    @include bp-desk(notebook) {
      flex-basis: 40%;
    }
    @include bp-desk(tablet) {
      flex-basis: 77%;
    }
    @include bp-desk(mobile) {
      flex-basis: 100%;
    }
  }

  &__work {
    position: relative;
    display: flex;
    flex-direction: column;
    &--best::before {
      position: absolute;
      top: 0;
      right: 0;
      content: "THE BEST";
      width: 120px;
      border-radius: 0 0 0 10px;
      height: 28px;
      text-transform: uppercase;
      text-align: center;
      line-height: 25px;

      color: $white;
      z-index: 6;
    }
    &--archee::before {
      background-color: #ff6700;
      box-shadow: -2px -2px 15px #ff6700;
    }
    &--web-templates::before {
      background-color: #2b2b2b;
      box-shadow: -2px -2px 15px #2b2b2b;
    }
    &--dream-on-wheels::before {
      background-color: brown;
      box-shadow: -2px -2px 15px brown;
    }
  }
}
