@use '../_config/variables';
@use '../_mixins/media';

.portfolio {
  &__col {
    display: flex;
    flex-basis: 33.33333%;
    padding: 15px;
    @include media.bp-desk(notebook) {
      flex-basis: 40%;
    }
    @include media.bp-desk(tablet) {
      flex-basis: 77%;
    }
    @include media.bp-desk(mobile) {
      flex-basis: 100%;
    }
  }

  &__work {
    position: relative;
    display: flex;
    flex-direction: column;
    &--archee::before {
      background-color: #ff6700;
      box-shadow: -2px -2px 15px #ff6700;
    }
    &--web-templates::before {
      background-color: #2b2b2b;
      box-shadow: -2px -2px 15px #2b2b2b;
    }
    &--dream-on-wheels::before {
      background-color: brown;
      box-shadow: -2px -2px 15px brown;
    }
  }
}
