@use '../_config/variables';

.preloader-page {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7000;
  background-color: variables.$white;
  &::before {
    content: '';
    width: 32px;
    height: 32px;
    background-image: url('../img/preload/preloader-page.gif');
    background-repeat: no-repeat;
    border-radius: 50%;
  }
  &.done {
    display: none;
  }
}
