.preloader-page {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 7000;
  &--dark {
    background-color: $black;
  }
  &--light {
    background-color: $white;
  }
  &::before {
    content: '';
    width: 32px;
    height: 32px;
    background-image: url('../img/preload/preloader-page.gif');
    border-radius: 50%;
  }
  &.done {
    display: none;
  }
}
