@use '../_config/variables';
@use '../_mixins/media';
@use '../_mixins/font-face';

.show-more {
  &__trigger {
    font-weight: 700;
    letter-spacing: 1px;
    @include font-face.font(1rem, 1.6rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;

    cursor: pointer;
    transition: color .3s ease-in, background-color .3s ease-in, box-shadow .3s ease-in;
    &--light {
      color: variables.$show-more-color-light;
      background-color: variables.$show-more-bg-light;
      box-shadow: -1px -1px 5px variables.$show-more-bg-light;
    }
    &--dark {
      color: variables.$show-more-color-dark;
      background-color: variables.$show-more-bg-dark;
      box-shadow: -1px -1px 5px variables.$show-more-bg-dark;
    }
  }
  &__arrow {
    width: 13px;
    height: 13px;
    transition: transform 0.3s ease-in, fill 0.3s ease-in;
    &--dark {
      fill: variables.$show-more-color-dark;
    }
    &--light {
      fill: variables.$show-more-color-light;
    }
  }
  &__content {
    display: none;
    padding: 11px 0;
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
  }
  &__input:checked ~ .show-more__content {
    display: block;
  }
  &__input:checked ~ .show-more__trigger .show-more__arrow {
    transform: rotate(90deg);
  }
}
