.show-more {
  &__trigger {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    color: $show-more-color-light;
    background-color: $show-more-bg-light;
    box-shadow: -1px -1px 5px $show-more-bg-light;
    cursor: pointer;
  }
  &__arrow {
    fill: $show-more-color-light;
    width: 13px;
    height: 13px;
    transition: transform 0.3s ease-in;
  }
  &__content {
    display: none;
    padding: 11px 0;
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
  }
  &__input:checked ~ .show-more__content {
    display: block;
  }
  &__input:checked ~ .show-more__trigger .show-more__arrow {
    transform: rotate(90deg);
  }
}
