.slider {
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    @include bp-desk(mobile) {
      height: 40vh;
    }
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid;
      border-color: #c8c8c8 transparent;
      animation: linear imgLoad 0.5s infinite;
    }
  }
  &__item.slider__slide {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  &__slick-img {
    min-height: 360px;
    max-height: 550px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    bottom: 0;
    transition: opacity 1s linear, transform 0.5s linear;
    &.o0 {
      transform: scale(0.5);
    }
    @include bp-desk(mobile) {
      min-height: 300px;
    max-height: 350px;
    }
  }
}

@keyframes imgLoad {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
