.social {
  &__img {
    width: 41px;
    height: 41px;
    &:hover {
      opacity: 0.8;
    }
  }

  &__link {
    border: 2px solid transparent;
    margin-right: 10px;
    transition: transform 0.2s linear;
    &:hover {
      transform: translateY(-5px);
    }
  }

  &__btn {
    @include bp-desk(mobile-md) {
      display: block;
    }
  }
  &__btn + &__btn {
    @include bp-desk(mobile-md) {
      margin-top: 1rem;
    }
  }
}
