.social {
  display: flex;
  align-items: center;
  &__image {
    width: 31px;
    height: 31px;
    &:hover {
      opacity: 0.8;
    }
  }

  &--github {
    fill: rgb(0, 0, 0);
  }

  &--vk {
    fill: rgb(65, 107, 166);
  }

  &--vk-sizes {
    width: 37px;
    height: 37px;
  }
  &--telegram {
    fill: rgb(85, 177, 226);
  }

  &__link {
    margin-right: 15px;
    transition: transform 0.2s linear;
    &:hover {
      transform: translateY(-5px);
    }
  }

  &__btn {
    @include bp-desk(mobile-md) {
      display: block;
    }
  }
  &__btn + &__btn {
    margin-left: 15px;
    @include bp-desk(mobile-md) {
      margin-top: 15px;
      margin-left: 0;
    }
  }
}
