@use "../_config/variables";

.tech-box {
  &__picture {
    width: 30px;
    height: 30px;
  }
  &__picture--html {
    fill: #e44d25;
  }
  &__picture--scss {
    fill: #cc6799;
  }
  &__picture--js {
    fill: #f7df1c;
  }
  &__picture--gulp {
    fill: #ea4a49;
  }
  &__picture--css {
    fill: #1472b6;
  }
  &__text-description {
    display: inline-block;
    margin-right: 15px;
    font-size: 20px;
    &--light {
      color: variables.$select-color-light;
    }
    &--dark {
      color: variables.$select-color-dark;
    }
  }
}
