.tech-box-list {
  display: flex;
  flex-direction: column;
  &__item {
    max-width: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__item + &__item {
    margin-top: 20px;
  }
}