/* ..............

  THANK YOU PAGE

.................
*/
.thankyou-wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &--light {
    background-color: lightblue;
  }
  &--dark {
    background-color: $black;
  }
}
.thankyou {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  &__title {
    color: $success;
    font-size: 2.6rem;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  &__description {
    &--light {
      color: $black;
    }
    &--dark {
      color: $white;
    }
  }
  p {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  &__back-link {
    transition: color 0.2s ease-in;
    font-size: 1rem;
    &--light {
      color: $black;
    }
    &--dark {
      color: $white;
    }
    &:hover {
      opacity: 0.8;
    }
  }
  p + p {
    margin-top: 10px;
  }
}
