/* ..............

  THANK YOU PAGE

.................
*/

.thankyou {
  text-align: center;
  font-size: 18px;
}

.thankyou h1 {
  color: green;
  font-size: 28px;
}

.thankyou p {
  font-size: 18px;
}
