.theme {
  padding: 7px;
  &--br {
    border-radius: 5px;
  }
  & + .burger-btn {
    margin-left: 12px;
  }
  &--modal {
    display: flex;
    align-items: center;
    padding: 12px 17px;
    transition: background .3s ease-in, box-shadow .3s ease-in;
    &-light {
      background: $theme-modal-light;
      box-shadow: 1px 1px 10px $theme-modal-light;
    }
    &-dark {
      background: $theme-modal-dark;
      box-shadow: 2px 2px 13px $theme-modal-dark;
    }
    @include bp-desk(tablet) {
      padding: 10px 17px;
    }
    .theme__light {
      margin-right: 12px;
    }
  }
  &__close-btn {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    width: 27px;
    height: 32px;
    @include bp-desk(mobile) {
      width: 21px;
      height: 26px;
    }
  }
  &__close {
    width: 27px;
    height: 32px;
    transition: transform 0.2s linear, fill 0.3s linear;
    &:hover {
      transform: translateY(-3px);
    }
    @include bp-desk(mobile) {
      width: 21px;
      height: 26px;
    }
    &--light {
      fill: $black;
    }
    &--dark {
      fill: $white;
    }
  }
  &__icon {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }

  &__light {
    fill: $white;
  }

  &__dark {
    fill: $black;
  }

  &--sticky {
    position: sticky;
    top: -41px;
    left: 0;
    z-index: 7;
    @include bp-desk(tablet-landscape) {
      top: 0;
    }
  }
}
