@use '../_config/variables';
@use '../_mixins/media';

.theme {
  position: relative;
  padding: 7px;
  &--br {
    border-radius: 5px;
  }
  & + .burger-btn {
    margin-left: 12px;
  }
  &--modal {
    display: flex;
    align-items: center;
    padding: 12px 17px;
    transition: background .3s ease-in, box-shadow .3s ease-in;
    &-light {
      background: variables.$theme-modal-light;
      box-shadow: 1px 1px 10px variables.$theme-modal-light;
    }
    &-dark {
      background: variables.$theme-modal-dark;
      box-shadow: 2px 2px 13px variables.$theme-modal-dark;
    }
    @include media.bp-desk(tablet) {
      padding: 10px 17px;
    }
    .theme__light {
      margin-right: 12px;
    }
  }
  &__close-btn {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    width: 27px;
    height: 32px;
    @include media.bp-desk(mobile) {
      width: 21px;
      height: 26px;
    }
  }
  &__close {
    width: 27px;
    height: 32px;
    transition: transform 0.2s linear, fill 0.3s linear;
    &:hover {
      transform: translateY(-3px);
    }
    @include media.bp-desk(mobile) {
      width: 21px;
      height: 26px;
    }
    &--light {
      fill: variables.$black;
    }
    &--dark {
      fill: variables.$white;
    }
  }
  &__icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: transform .3s ease-in;
  }

  &__light {
    fill: variables.$white;
  }

  &__dark {
    fill: variables.$black;
  }

  &--sticky {
    position: sticky;
    top: -41px;
    left: 0;
    z-index: 7;
    @include media.bp-desk(tablet-landscape) {
      top: 0;
    }
  }
  &__btn {
    padding: 5px;
    margin: -5px;
    transform: scale(1);
    &:hover .theme__icon {
      transform: scale(1.2);
    }
  }
  &__font-change {
    margin-left: 20px;
  }
  &__font-change-popup {
    top: -10px;
  }
}
