.timeline {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 768px;
  position: relative;
  @include bp-desk(mobile) {
    justify-content: center;
  }
  &::before {
    content: '';
    display: block;
    width: 1px;
    height: 100%;

    background-color: $black;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    @include bp-desk(mobile) {
      display: none;
    }
  }
  &__col {
    width: 50%;
    &--left {
      text-align: right;
      padding-right: 3.2rem;
    }
    &--right {
      position: relative;
      padding-left: 3.2rem;
    }
    @include bp-desk(mobile) {
      width: 100%;
      max-width: 368px;
      &--left,
      &--right {
        text-align: left;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  &__arrow-up {
    display: inline-block;
    width: 23px;
    position: absolute;
    bottom: -47px;
    right: 0;
    &:focus {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      outline: none;
    }
    @include bp-desk(mobile) {
      bottom: -30px;
      left: 0;
    }
  }
  &__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 2.6rem;
  }
  &__item {
    @include bp-desk(mobile) {
      margin-bottom: 2.6rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__date {
    margin-bottom: 0.8rem;
    display: block;
    text-decoration: underline;
    font-size: 0.94rem;
    color: $black;
  }
  &__subtitle {
    margin-bottom: 0.2rem;
    font-size: 1.06rem;
    color: $black;
    font-weight: 700;
  }
  &__position {
    font-size: 0.94rem;
    color: $black;
    font-style: italic;
  }
  &__text {
    margin-top: 0.8rem;
    @include font(0.8rem, 1.6rem);
    color: $grey;
    font-weight: 300;
  }
}
