@use "../_config/variables";
@use "../_mixins/media";
@use "../_mixins/font-face";

.timeline {
  display: flex;
  width: 100%;
  max-width: 768px;
  position: relative;
  &__modal-list .modal-list__social-link {
    display: inline-block;
  }
  @include media.bp-desk(mobile) {
    flex-direction: column;
    align-items: center;
  }
  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    transition: background-color 0.3s ease-in;
    @include media.bp-desk(mobile) {
      display: none;
    }
  }
  &--light {
    &::before {
      background-color: variables.$black;
    }
  }
  &--dark {
    &::before {
      background-color: variables.$white;
    }
  }
  &__col {
    width: 50%;
    .social {
      &--github {
        &-light {
          fill: variables.$black;
        }
      }
      &--github {
        &-dark {
          fill: variables.$white;
        }
      }
      &--telegram {
        &-light {
          fill: variables.$black;
        }
      }
      &--telegram {
        &-dark {
          fill: variables.$white;
        }
      }
      &--vk {
        &-light {
          fill: variables.$black;
        }
      }
      &--vk {
        &-dark {
          fill: variables.$white;
        }
      }
    }
    &--left {
      text-align: right;
      padding-right: 48px;
      position: relative;
      @include media.bp-desk(mobile) {
        margin-bottom: 37.5px;
      }
      @include media.bp-desk(mobile) {
        order: 1;
      }
    }
    &--right {
      position: relative;
      padding-left: 48px;
    }
    @include media.bp-desk(mobile) {
      width: 100%;
      max-width: 368px;
      &--left,
      &--right {
        text-align: left;
        padding-right: 0;
        padding-left: 0;
      }
    }
  }
  &__arrow-up {
    display: inline-block;
    width: 20px;
    position: absolute;
    bottom: -47px;
    right: 0;
    &:focus {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      outline: none;
    }
    @include media.bp-desk(mobile) {
      bottom: -30px;
      left: 0;
    }
  }
  &__arrow-up-pic {
    width: 20px;
    height: 20px;
    &--light {
      fill: variables.$arrow-up-color-light;
      transition: fill 0.3s ease-in;
      &:hover {
        fill: variables.$arrow-up-color-light-hover;
      }
    }
    &--dark {
      fill: variables.$arrow-up-color;
      transition: fill 0.3s ease-in;
      &:hover {
        fill: variables.$arrow-up-color-hover;
      }
    }
  }
  &__title {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 39px;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$black;
    }
    &--dark {
      color: variables.$white;
    }
  }
  &__item {
    margin-bottom: 45px;
    @include media.bp-desk(mobile) {
      margin-bottom: 39px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__date {
    margin-bottom: 12px;
    display: block;
    text-decoration: underline;
    font-size: 0.94rem;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$black;
    }
    &--dark {
      color: variables.$white;
    }
  }
  &__subtitle {
    margin-bottom: 3px;
    font-size: 1.06rem;
    font-weight: 700;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$black;
    }
    &--dark {
      color: variables.$white;
    }
  }
  &__position {
    font-size: 0.94rem;
    font-style: italic;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$black;
    }
    &--dark {
      color: variables.$white;
    }
  }
  &__text {
    margin-top: 15px;
    margin-bottom: 15px;
    @include font-face.font(1rem, 1.6rem);

    font-weight: 400;
    transition: color 0.3s ease-in;
    &--light {
      color: variables.$grey;
    }
    &--dark {
      color: variables.$white;
    }
    &--technologies {
      text-transform: uppercase;
    }
  }
  &__image {
    position: relative;
    padding-bottom: 75%;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 35px;

    &--light {
      background: url("../img/preload/white-theme-loader.gif") center no-repeat;
    }
    &--dark {
      background: url("../img/preload/dark-theme-loader.gif") center no-repeat;
    }
  }
  &__img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    box-shadow: 0 0 0 #2b2b2b;
    transition: box-shadow 0.3s ease-in;
    &--light {
      &:hover {
        box-shadow: 0 0 15px #2b2b2b;
      }
    }
    &--dark {
      &:hover {
        box-shadow: 0 0 15px #fff;
      }
    }
  }
  &--message-to-contact-me {
    font-weight: 700;
  }
  &__photo {
    overflow: hidden;
    transition: all 0.3s ease; /* плавный переход */
    box-shadow: 0 0 0 variables.$black; /* легкая тень по умолчанию */
    margin-bottom: 30px;
    border-radius: 12px;
    transform: scale(1.03);
    transition: transform 0.3s ease-in, box-shadow 0.3s ease-in;
    &--dark:hover {
      box-shadow: 0 0 15px variables.$select-color-dark;
    }
    &--light:hover {
      box-shadow: 0 0 15px variables.$select-color-light;
    }
    &:hover {
      transform: scale(1.05);
      // box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      // border: 2px solid rgba(0, 0, 0, 0.1);
    }
  }

  &__link {
    text-decoration: underline;

    &--light {
      color: variables.$select-color-light;
    }
    &--dark {
      color: variables.$select-color-dark;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
