@use "../_config/variables";
@use "../_mixins/media";

.work {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.2s linear;
  &--light {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow .2s ease-in;
    &:hover {
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    }
  }
  &--dark {
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
    transition: box-shadow .2s ease-in;
    &:hover {
      box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
    }
  }
  &__image {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 5;
    width: 100%;
    transform: translateY(-50%);
    object-fit: contain;
    &--venom {
      left: unset;
      right: 0;
    }
  }
  &__box-img {
    overflow: hidden;
    position: relative;
    padding-bottom: 83.79%;
    width: 100%;
    &--light {
      background-image: url("../img/preload/white-theme-loader.gif");
      background-repeat: no-repeat;
      background-position: center;
    }
    &--dark {
      background-image: url("../img/preload/dark-theme-loader.gif");
      background-repeat: no-repeat;
      background-position: center;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &--overlay {
    &::before {
      opacity: 0.6;
      position: absolute;
      z-index: 10;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      width: 0;
      content: "";
      background: linear-gradient(to right top, lightgreen, blue);
      transform: rotate(-180deg);
      transition: width 0.4s ease-in, transform 0.7s ease-in;
    }
    &::after {
      position: absolute;
      content: "";
      background-color: rgba(255, 255, 255, 0);
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 20;
      font-family: "Ample", sans-serif;
      font-size: 2rem;
      font-weight: 300;
      display: flex;
      color: rgba(255, 255, 255, 0);
      justify-content: center;
      align-items: center;
      transition: color 1s ease-in;
    }
    &:hover::before {
      width: 100%;
      transform: rotate(0deg);
      @include media.bp-desk(notebook) {
        width: 0;
        transform: rotate(-180deg);
      }
    }
    &:hover::after {
      color: rgba(255, 255, 255, 1);
      @include media.bp-desk(notebook) {
        z-index: -20;
        color: rgba(255, 255, 255, 0);
        content: "";
      }
    }
  }
  &--overlay-ru-text {
    &::after {
      content: "Открыть";
    }
  }
  &--overlay-en-text {
    &::after {
      content: "Open";
    }
  }
  &--bg-dream-on-wheels::before {
    background: linear-gradient(to right top, #ba2b08, #4d4d36);
  }
  &--bg-web-templates::before {
    background: linear-gradient(to right top, #c0b4aa, #171715);
  }
  &--bg-ducati::before {
    background: linear-gradient(to right top, #faf8f6, #af0602);
  }
  &--bg-archee::before {
    background: linear-gradient(to right top, #ff8c1d, #c0ff00);
  }
  &--bg-archee:hover::after {
    text-shadow: 0 0 10px rgba(240, 116, 39, 1);
  }
  &--bg-oxygen::before {
    background: linear-gradient(to right top, #15a015, #b9b9d100);
  }
  &--bg-oxygen:hover::after {
    text-shadow: 0 0 10px rgba(21, 160, 21, 1);
  }
  &--bg-olivia::before {
    background: linear-gradient(to right top, #2db26a, #cfcfe10a);
  }
  &--bg-olivia:hover::after {
    text-shadow: 0 0 10px rgba(45, 178, 106, 1);
  }
  &--bg-thrivetalk::before {
    background: linear-gradient(to right top, #63d0e2, #9e9e9e);
  }
  &--bg-thrivetalk:hover::after {
    text-shadow: 0 0 10px rgba(99, 208, 226, 1);
  }
  &--bg-sea::before {
    background: linear-gradient(to right top, #0d11e2, #fff);
  }
  &--bg-sea:hover::after {
    text-shadow: 0 0 10px rgba(13, 17, 226, 1);
  }
  &--bg-food::before {
    background: linear-gradient(to right top, #f37220, #ffeb3b);
  }
  &--bg-food:hover::after {
    text-shadow: 0 0 10px rgba(243, 114, 32, 1);
  }
  &--bg-rolls::before {
    background: linear-gradient(to right top, #9bdc10, #cddc39);
  }
  &--bg-rolls:hover::after {
    text-shadow: 0 0 10px rgba(155, 220, 16, 1);
  }
  &--bg-visit::before {
    background: linear-gradient(to right top, #445161, #009688);
  }
  &--bg-visit:hover::after {
    text-shadow: 0 0 10px rgba(68, 81, 97, 1);
  }
  &--bg-venom::before {
    background: linear-gradient(to right top, #f7829d, #9c27b0);
  }
  &--bg-venom:hover::after {
    text-shadow: 0 0 10px rgba(247, 130, 157, 1);
  }
  &--bg-safari::before {
    background: linear-gradient(to right top, #d6944f, #ffc107);
  }
  &--bg-safari:hover::after {
    text-shadow: 0 0 10px rgba(214, 148, 79, 1);
  }
  &--bg-calc::before {
    background: linear-gradient(to right top, #d2e733, #f4f8fb);
  }
  &--bg-calc:hover::after {
    text-shadow: 0 0 10px rgb(165, 199, 15);
  }
  &--bg-generator-of-passwords::before {
    background: linear-gradient(to right top, #00be7a, #b75b72);
  }
  &--bg-generator-of-passwords:hover::after {
    text-shadow: 0 0 10px rgba(183, 91, 114, 1);
  }
  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px 12px;
  }
  &__cat {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 7.5px;
    &--light {
      color: variables.$black;
    }
    &--dark {
      color: variables.$white;
    }
  }
  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.06rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 25px;
    &--light {
      color: variables.$black;
    }
    &--dark {
      color: variables.$white;
    }
    &--left {
      max-width: 265px;
    }
  }
}
