@use '../_config/variables';
@use '../_mixins/media';

.works {
  margin-top: -5px;
  padding: 102px 0;
  padding-bottom: 27px;
  transition: background-color 0.3s ease-in;
  &--light {
    background-color: variables.$white;
  }
  &--dark {
    background-color: variables.$black;
  }
  @include media.bp-desk(tablet) {
    padding-top: 87px;
  }
  @include media.bp-desk(mobile) {
    padding-bottom: 30px;
  }
  @include media.bp-desk(mobile-md) {
    padding-top: 64.5px;
  }
  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
    @include media.bp-desk(tablet) {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 75px;
    }
    @include media.bp-desk(mobile) {
      margin-left: 0;
    }
  }

  &__nav-link {
    position: relative;
    font-size: 0.8rem;
    padding: 7px 0;

    @include media.bp-desk(mobile) {
      font-size: 1rem;
    }
    &:after {
      content: "";
      width: 0;
      height: .5px;
      // background-color 70%
      background-color: rgba(43,43,43,0.7);
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      transition: width 0.2s linear;
    }
    &--light {
      // opacity: 70%;
    color: rgba(43,43,43,0.7);
      &:after {
        background-color: rgba(43,43,43,0.7);
      }
    }
    &--dark {
      color: variables.$white;
      &:after {
        background-color: variables.$white;
      }
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }

  &__nav-item {
    margin: 0 18px;
    @include media.bp-desk(tablet) {
      & + & {
        margin-top: 15px;
      }
    }
    @include media.bp-desk(mobile) {
      margin-left: 0;
    }
  }

  &__portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-bottom: 42px;
    @include media.bp-desk(notebook) {
      justify-content: center;
    }
  }
}
