@use '../_config/variables.scss';

// Ограничение макета
@mixin wrapper {
  max-width: variables.$wrapper-max;
  min-width: variables.$wrapper-min;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}


// Контейнер
@mixin container {
  max-width: variables.$container-max-widths;
  padding-left: variables.$container-padding;
  padding-right: variables.$container-padding;
  margin: 0 auto;
}
