@use '../_config/variables';

@mixin decore-line {
  content: '';
  width: 0;
  height: 2px;
  background-color: variables.$black;
  position: absolute;
  bottom: -2px;
  left: 0;
  z-index: 1;
  transition: width 0.2s linear;
}

@mixin decore-line-footer {
  background-color: variables.$grey-light-second;
  height: 1px;
}
