@import "../_config/variables";
@import "../_mixins/decore";
@import "../_mixins/media";

.header {
  background: $black;
  &__mobile-modal {
    background-color: $black;
  }
}

.mobile-nav {
  &__link {
    &:after {
      background-color: $white;
    }
  }
}

.user {
  &__name {
    color: $white;
  }
  &__prof {
    color: $white;
  }
}

.nav {
  &__link {
    color: $white;
  }
}

.btn {
  color: $white;
  border: 2px solid $white;
  &:hover {
    background-color: $white;
    color: $black;
    box-shadow: 2px 2px 10px transparentize($white, 0.76);
    border-color: $white;
  }
}

.nav {
  &__link {
    &:after {
      background-color: $white;
    }
  }
}

.theme {
  box-shadow: 1px 1px 10px $grey;
  background-color: $grey-theme;
  &--modal {
    background: $theme-modal-dark;
    box-shadow: 2px 2px 13px $theme-modal-dark;
  }
}

.box-shadow-dark {
  box-shadow: 2px 2px 10px #ffffff;
}
// ====== Секция intro ======
.intro {
  background-color: $black;
  &__inner {
    //border-bottom opacity 30%
    border-bottom: 1px solid $white;
  }

  &__title {
    color: $white;
  }

  &__subtitle {
    color: $white;
  }

  &__position {
    color: $white;
  }
}

// ====== Секция works ======

.works {
  background-color: $black;
  &__nav-link {
    // opacity: 70%;
    color: $white;
    &:after {
      background-color: $white;
    }
  }
}

.work {
  box-shadow: 0 0 4px transparentize($white, 0.75);
  &:hover {
    box-shadow: 0 0 25px transparentize($white, 0.5);
  }

  &__cat {
    color: $white;
  }
  &__title {
    color: $white;
  }
}
// ====== Секция about ======
.about {
  background-color: $black;
  &__title {
    color: $white;
  }
  &__bigtitle {
    color: transparentize($white, 0.65);
  }
  &__text {
    color: $white;
  }
}
// ====== Футер ======
.footer {
  background-color: $white;
  &__copyright {
    color: $black;
    // opacity 35 %
    border-right: 1px solid transparentize($black, 0.65);
    @include bp-desk(mobile) {
      border-right: none;
    }
  }
  &__nav-link {
    color: $black;
    &::after {
      @include decore-line;
      background-color: $black;
      height: 1px;
    }
  }
  &__nav-btn {
    &:hover {
      background-color: $black;
      color: $white;
      border-color: $black;
    }
  }
}

// ========================================
//  Анимация для социальных иконок при клике на них
// ======================================
// @keyframes change-color {
//   0% {
//     fill: rgb(43,43,45);
//   }
//   25% {
//     fill: rgb(54,54,153);
//   }
//   40% {
//     fill: rgb(54,54,153);
//   }
//   50% {
//     fill: rgb(43,43,45);
//   }
//   100% {
//     fill: rgb(187,187,204);
//   }
// }

// ====== Иконка бургер ======
.burger-btn {
  &__line {
    background-color: $white;
    &::before {
      background-color: $white;
    }
    &::after {
      background-color: $white;
    }
  }
}

// ====== Social INTRO =====
.intro .social {
  &--github {
    fill: $white;
  }
}

// ======= Мобильное меню =======
.mobile-nav {
  &__link {
    color: $white;
  }
}

// ========= Модальные окна ============

.modal {
  background-color: rgba(46, 69, 62, 0.9);
  &__dialog {
    background-color: $black;
  }

  &__title {
    color: $white;
  }
  &__subtitle {
    color: $white;
  }
  &__close {
    fill: $white;
  }
}

// ==== modal-list ====
.modal-list {
  &__item {
    &::marker {
      color: $modal-list-marker-color-dark;
    }
  }
  &__link {
    color: $modal-list-link-dark;
  }
}

// ===== modal-work description-show / description-hide

.description-hide,
.description-show {
  color: $desk-show-color-dark;
}

// ===== Модальное окно контактной формы =====

.contact {
  &__info {
    color: $white;
  }

  &__info-link {
    color: $white;
  }
  &__info-icon {
    fill: $white;
  }
}

// ==== Resume ====

.timeline {
  &::before {
    background-color: $white;
  }
  &__arrow-up {
    &:focus {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      outline: none;
    }
  }
  &__date {
    color: $white;
  }
  &__title {
    color: $white;
  }
  &__subtitle {
    color: $white;
  }
  &__position {
    color: $white;
  }
  &__text {
    color: $white;
  }
  &__arrow-up-pic {
    fill: $arrow-up-color;
    transition: fill 0.3s ease-in;
    &:hover {
      fill: $arrow-up-color-hover;
    }
  }
}

.progress-bar {
  &__item {
    border: 0.05rem solid $white;
  }
  &__title {
    color: $white;
  }
  &__bar {
    background-color: $white;
  }
  &__progress {
    background-color: $white;
  }
}

// ===== Модальное окно проекта ======

.modal-work {
  &__title {
    color: $white;
  }
  &__info {
    color: $white;
  }
  &__client-title {
    color: $white;
  }
  &__client-company {
    color: $white;
  }
  &__text {
    color: $white;
  }
  &:focus {
    -webkit-tap-highlight-color: rgba(250, 250, 250, 0);
  }
  &__btn {
    border-radius: 10px 0 10px 0;
    padding: 5px 7px;
    background-color: $color-btn-dark;
    color: $btn-color;
    box-shadow: 0px 0px 10px $color-btn-dark;
    transition: background-color 0.3s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in;
    &:hover {
      background-color: $hover-btn-dark;
      color: $black;
      box-shadow: 0px 0px 10px $hover-btn-dark;
    }
  }
  &__arrow-up-pic {
    fill: $arrow-up-color;
    transition: fill 0.3s ease-in;
    &:hover {
      fill: $arrow-up-color-hover;
    }
  }
}
