@import "../_config/variables";

.header {
  background: $white;
  &__mobile-modal {
    background-color: $white;
  }
}

.user {
  &__name {
    color: $black;
  }
  &__prof {
    color: $black;
  }
}

.nav {
  &__link {
    color: $black;
  }
}

.btn {
  color: $black;
  border: 2px solid $grey;
  &:hover {
    background-color: $black;
    color: $white;
    box-shadow: 2px 2px 10px transparentize($black, 0.76);
    border-color: $black;
  }
}

.theme {
  box-shadow: 2px 2px 10px $black;
}

.box-shadow-light {
  box-shadow: 2px 2px 10px #020202;
}
// .theme__icon[data-theme="light"] {
//   display: none;
// }

.modal-work {
  &__arrow-up-pic {
    fill: $arrow-up-color-light;
    transition: fill 0.3s ease-in;
    &:hover {
      fill: $arrow-up-color-light-hover;
    }
  }
}

.timeline {
  &__arrow-up-pic {
    fill: $arrow-up-color-light;
    transition: fill 0.3s ease-in;
    &:hover {
      fill: $arrow-up-color-light-hover;
    }
  }
}

// ====== Social Footer =====
.footer .social {
  &--github {
    fill: $white;
  }
}